{
  "presets": [
    ["env", {
      "targets": 6.9,
      "modules": false,
      "debug": true
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-flow-comments"
  ]
}
