@import "../md-theme";

/*styles for home content only*/
.problems-list {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.problems-list button {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;

  border: none;
  border-radius: 2px;
}

.sol-1 {
  background: lighten(md-color($euler-app-primary, A200), 16%);
}
.sol-2 {
  background: lighten(md-color($euler-app-primary, A200), 8%);
}
.sol-3 {
  background: md-color($euler-app-primary, A200);
}
